<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihang.auth.mapper.ScmSellerMapper">

    <resultMap id="BaseResultMap" type="com.qihang.auth.domain.ScmSeller">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="linkMan" column="link_man" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="pinYin" column="pin_yin" jdbcType="VARCHAR"/>
            <result property="disable" column="disable" jdbcType="TINYINT"/>
            <result property="managerUserId" column="manager_user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,number,
        remark,place,link_man,
        contact,province,city,
        county,address,pin_yin,
        disable,manager_user_id,create_time
    </sql>
</mapper>
