<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpGoodsInventoryMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpGoodsInventory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="specNum" column="spec_num" jdbcType="VARCHAR"/>
            <result property="currentQty" column="current_qty" jdbcType="BIGINT"/>
            <result property="lockedQty" column="locked_qty" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,goods_num,
        spec_id,spec_num,current_qty,
        locked_qty,is_delete,create_time,
        create_by,update_time,update_by
    </sql>
</mapper>
